*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: Shasa;
    src: url('../font/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf');
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;
}


.navmenu {
    display: flex;
}

.navmenu li {
    position: relative;
}

.navmenu a {
    color: #8F5A6C;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    transition: all .42s;
}

.navmenu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #8F5A6C;
    bottom: -2px;
    left: 0;
    transition: all .42s;
}

.navmenu a:hover::after {
    width: 100%;
}

.btn-icon {
    display: flex;
    align-items: center;
}

.nav-btn {
    font-size: 17px;
    color: #8F5A6C;
    font-weight: 500;
    border: 2px solid #8F5A6C;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all.42s;
    
}

.nav-btn:hover {
    background-color: #8F5A6C;
    color: #fff;
}

#menu-icon {
    font-size: 35px;
    color: #8F5A6C;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 60px 12%;
}

.beranda {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 900px;
    
}

.home-text h4 {
    color: #D88FB5;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.home-text h1 {
    color: #8F5A6C;
    font-size: 60px;
    font-family: 'Volkhov';
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}

.home-text p {
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 20px;
    background: #8F5A6C;
    border-radius: 10px;
    margin-right: 40px;
    transition: all .42s;
}

.btn1:hover {
    transform: translateY(-5px);
}

.btn2 {
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(249, 189, 224, 0.3);
    margin-right: 15px;
    transition: all .42s;
}

.btn2 span i:hover {
    background: transparent;
    color: #8F5A6C;
}

.row img {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
}
.row-toner img {
    width: 60px;
    height: auto;
    margin-bottom: 35px;
}



/* design tempel */
header.sticky {
    background-color: #fff;
    padding: 22px 12%;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.08);
    transition: .43s;
}

/* kategori */
.center-text {
    text-align: center;
}

.center-text h4 {
    font-size: 18px;
    color: #8F5A6C;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
}
.center-text h2 {
    font-size: 50px;
    color: #D88FB5;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Volkhov';
    margin-bottom: 90px;
}

.cate-pro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    text-align: center;
}

.row {
    padding: 60px 40px;
    background-color: #FACCE0;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: all .42s;
}
.row-toner {
    padding: 60px 40px;
    background-color: #FACCE0;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: all .42s;
}
.row-masker {
    .row {
        padding: 60px 40px;
        background-color: #FACCE0;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        transition: all .42s;
    }
}

.row h5 {
    font-size: 16px;
    color: #8F5A6C;
    font-weight: 600;
    margin-bottom: 15px;
}
.row p{
    font-size: 14px;
    font-weight: 500;
}
.row-toner h5 {
    font-size: 16px;
    color: #8F5A6C;
    font-weight: 600;
    margin-bottom: 15px;
    
}
.row-toner p{
    font-size: 14px;
    font-weight: 500;
}

.row:hover {
    transform: translateY(-8px);
    border-radius: 20%;
    
}
.row-toner:hover {
    transform: translateY(-8px);
    border-radius: 20%;
}

/* top belanja */
.main-belanja {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    align-items: center;
    gap: 2rem;
}
.hov-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all .42s;
}

.box-text h5 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}
.belanja-text h2 {
    color: #8F5A6C;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Volkhov';
    text-align: center;
    margin-bottom: 50px;
}
.box {
    position: relative;
}

.text-in h5{
    color: #5E6282;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.text-in p {
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;
}

/* testi */
.testimoni {
    background-color: #FACCE0;
    padding-bottom: 50px;
}
.test-text {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.left h4 {
    color: #8F5A6C;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
.left h3 {
    font-size: 50px;
    color: #8F5A6C;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Volkhov';
}
.right img {
    max-width: 100%;
    width: 70px;
    height: 70px;
}
.right h5 {
    color: #8F5A6C;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 3px;
}
.right h6 {
    color: #ffff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
}
.right p {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}


/* brand */
.brand {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #8F5A6C;
}
.brand-name {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto))
    gap 3rem;
    align-items: center;
}
.brand-name img {
    max-width: 100%;
    width: 170px;
    height: auto;
    transition: all .42s;
}
.brand-name img:hover {
    transform: translateY(-5px);
}
